body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background: linear-gradient(to right, #000000, #1a1a1a, #333333, #4d4d4d);
}

.navbar {
    background-color: black;
}

.navbar a {
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    background-color: black;
    border: 2px solid #fff;
    border-radius: 1.5rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

.btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.btn-secondary {
    background-color: #555;
    border-color: #555;
    color: #fff;
}

.contenedor-skill {
    border: 2px solid #fff;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedor-skill img {
    width: 7rem;
    height: auto;
    margin: 28px;
}